<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品详情页</title>
		<link rel="stylesheet" href="../css/public.css" />
		<link rel="stylesheet" href="../font_1056527_b1l6e53a3pk/iconfont.css" />
		<link rel="stylesheet" href="../css/detail.css"/>
	</head>
	<body>
		<header>
			<div class="header-top">
				<div class="header-top-wrap margin">
					<div class="left">
						欢迎来万菱购！&nbsp;&nbsp;&nbsp;
						<a href="login.html" class="login">咯嘣咯嘣豆</a>
						<span>|</span>
						<a href="index.html" class="register">退出</a>
					</div>
					<ul class="right">
						<li class="mywl">
							<a href="#">
								我的万菱<i class="sanjiao iconfont iconlower-triangle"></i>
							</a>
							<!--<dl class="mywl-t">
								<dt>买家中心</dt>
								<dd>已买</dd>
								<dd>待收货</dd>
								<dd>待付款</dd>
							</dl>
							<dl class="mywl-b">
								<dt>卖家中心</dt>
								<dd>待发货</dd>
								<dd>待付款</dd>
								<dd>上新</dd>
							</dl>-->
								
						</li>
						<li class="shopcar">
							<a href="shopcar.html">
								<i class="car iconfont iconqicheqianlian-"></i>购物车
							</a>
						</li>
						<li class="favorite">
							<a href="#">
								<i class="like iconfont iconshoucangjia-copy"></i>收藏夹
							</a>
						</li>
						<li class="wlserver">
							<a href="#">
								万菱服务<i class="server iconfont iconlower-triangle"></i>
							</a>
						</li>
						<li class="help">
							<a href="#">
								<i class="help iconfont iconwenhao"></i>帮助中心
							</a>
						</li>
						<li class="wlphone">
							<a href="#">
								<i class="phone iconfont iconshouji"></i>手机万菱
							</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div id="main" class="margin">
			<div class="main-top">
				<div class="detail-top">
					<div class="left clear">
						<a href="detail.html"><img src="../img/q1.jpg"/></a>
						<h2>七星创意玩具店&nbsp;&nbsp;<span万菱实体商家></span></h2>
						
					</div>
					<div class="right">
						<input type="text" id="txt"/>
						<input type="button" id="btn" value="搜全站"/>
						<input type="button" id="btn2" value="搜本店"/>
						
					</div>
				</div>  
				<div class="detail-bottom">
					<span>店铺首页</span>
					<span>全部商品</span>
					<span>店铺介绍</span>
				</div>
			</div>
			<div class="main-center">
				<div class="list-img"><img src=""/></div>
				<div class="mation">
					<p class="title">LIV HEART日本恐龙鲨鱼毛绒玩具公仔大号抱枕可爱娃娃创意玩偶儿童送女生送男生生日礼物 室友系列-恐龙 L号</p>
					<div class="price">
						<h2>京东价<em>￥</em>？？</h2>
						<h2>优惠券<i class="youhui iconfont iconcouponicon"></i></h2>
						<h2>促销<a href="#">活动预告</a></h2>
					</div>
					<div class="shopChoice">
						<div class="chosecolor">
							<h3>颜色</h3>
							<a>冰丝蓝</a>
							<a>舍友红</a>
							<a>情人红</a>
							<a>非常黑</a>
						</div>
						<div class="chosesize">
							<h3>尺码</h3>
							<a>S号</a>
							<a>M号</a>
							<a>L号</a>
						</div>
					</div>
					<div class="mation-footer clear">
						<div class="num">
							<input type="text" id="txt1" />
							<p><a class="add">+</a><a class="reduce">-</a></p>
							
						</div>
						<div class="buy">
							<input type="button" id="btn" value="添加购物车" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/jquery.js"></script>
	<!--<script src="../js/detail.js"></script>-->
	<script src="../libs/ajax.3.0.js"></script>
	<script src="../js/jquery.cookie.js"></script>
	<script src="../libs/cookie.js"></script>
	<script src="../js/detail.js"></script>
		
	
</html>
