<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>万菱购注册页面</title>
		<link rel="stylesheet" href="../css/public.css" />
		<link rel="stylesheet" href="../css/register.css" />
		<link rel="stylesheet" href="../font2/iconfont.css" />
	</head>
	<body>
		<header>
			<div class="header-top margin">
				<a href="index.html"><img src="../img/d1.jpg"/></a>
				<div class="right">
					<h3>欢迎登录</h3>
					<a href="index.html">返回首页</a>
				</div>
			</div>
		</header>
		<div id="main">
			<div class="r-input">
	            <div class="input-top">
	            	<p>手机注册</p>
	            	<p>邮箱注册</p>
	            	<p><span>已有注册？</span><a href="login.html">现在登录</a></p>
	            	
	            </div>		
				<form>
					邮箱地址： <input type="text" name="user" id="txt" value="" /><br>
					密码:&nbsp;&nbsp;&nbsp;<input type="text" name="pass" id="pass" /><br>
					验证码：&nbsp; <input type="text" name="yzm" id="test" /><input type="text" name="yzm2" id="test2"  readonly=""/><br/>
					<input type="button" value="同意协议并注册" id="sub"/>
				</form>
			</div>
		</div>
	</body>
		<script src="../js/jquery.js"></script>
		<script src="../js/register.js"></script>
</html>
